{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <p><h1>Вот что я умею</h1></p>
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          git
        </li>
        <li class="list-group-item">
          PostgreSQL
        </li>
        <li class="list-group-item">
          и всякие другие штуки
        <li class="list-group-item">
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>За 3 месяца учёбы я уже столько много изучил! Но так мало в сравнении с тем, сколько еще нужно изучить за курс, и тем более в сравнении со спецами в этом деле.</p>
      <p>А еще зацените сворачивающееся верхнее меню!</p>
    </article>
  </div>
</div>
{% endblock %}